@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-size: 0.8125rem;
  font-family: "Manrope", sans-serif;
  background-color: hsl(210, 46%, 95%);
}

.container {
  max-width: 750px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.15);
}

.wrapper {
  display: flex;
}

.box-1 {
  background-image: url("../img/drawers.jpg");
  background-size: cover;
  width: 75%;
}

.box-2 {
  background-color: #fff;
  padding: 40px;
  width: 100%;
}

.box-2 h1 {
  font-size: 1.25rem;
  margin-bottom: 15px;
  color: hsl(217, 19%, 35%);
}

.box-2 p {
  margin-bottom: 20px;
  line-height: 1.6;
  color: hsl(214, 17%, 51%);
}

.sig {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sig span {
  color: hsl(217, 19%, 35%);
  font-weight: 700;
}

.sig p:last-child {
  color: hsl(212, 23%, 69%);
}

.info {
  display: flex;
  align-items: center;
}

.info p {
  margin: 0;
}

img[alt="avatar"] {
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

button {
  background-color: hsl(210, 46%, 95%);
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  position: relative;
  right: 3px;
}

button:hover {
  background-color: hsl(214, 17%, 51%);
}

button:hover img {
  filter: brightness(3);
}

.share {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 1148px;
  top: 475px;
  background-color: hsl(217, 19%, 35%);
  padding: 19px 40px;
  border-radius: 10px;
  visibility: hidden;
}

.share::after {
  content: "";
  position: absolute;
  bottom: -12px;
  border-top: 20px solid hsl(217, 19%, 35%);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.share p {
  text-transform: uppercase;
  color: hsl(212, 23%, 69%);
  font-size: 0.8125rem;
  letter-spacing: 5px;
  margin-right: 20px;
  margin-bottom: 0;
}

.show {
  visibility: visible;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
}

ul li a {
  display: flex;
  align-items: center;
}

img[alt="facebook"],
img[alt="twitter"] {
  margin-right: 15px;
}

@media (max-width: 1440px) {
  .share {
    top: 255px;
    left: 908px;
  }
}

@media (max-width: 1024px) {
  .share {
    top: 255px;
    left: 700px;
  }
}

@media (max-width: 768px) {
  .share {
    left: 557px;
    top: 270px;
    padding: 15px 15px;
  }

  .container {
    max-width: 650px;
  }

  .box-2 {
    padding: 30px;
  }
}

@media (max-width: 425px) {
  .container {
    max-width: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .wrapper {
    flex-direction: column;
  }

  .box-1 {
    height: 265px;
    width: 100%;
  }

  .share {
    left: 13px;
    top: 546px;
    width: 400px;
    height: 70px;
    border-radius: 0 0 10px 10px;
    justify-content: start;
    padding: 0 30px;
  }

  button {
    z-index: 1;
    top: 16px;
  }

  .share::after {
    content: "";
    position: initial;
    bottom: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }
}

@media (max-width: 375px) {
  .container {
    max-width: 330px;
  }

  .box-1 {
    height: 220px;
  }

  .share {
    left: 23px;
    top: 489px;
    width: 330px;
    height: 70px;
    border-radius: 0 0 10px 10px;
    justify-content: start;
    padding: 0 30px;
  }

  .share::after {
    content: "";
    position: initial;
    bottom: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }

  button {
    z-index: 1;
    top: 16px;
  }

  .box-2 h1 {
    font-size: 1.05rem;
  }
}

@media (max-width: 320px) {
  .share {
    width: 320px;
    left: 0;
    top: 512px;
  }
}
